.DS_Store
**/.vscode

**/__pycache__
**/*.egg-info
**/*.pyc
**/.ipynb_checkpoints
**/*.ipynb
!RQ*.ipynb
*.png

**/.env
**/.deprecated
**/.old

**/*.docx
**/*.pdf
**/*.xlsx

*.sh
*.tar.gz

**/targets
**/results_*
**/testsuites*
analysis/notebooks_pre

clotho/results
clotho/.archived
clotho/dataset/.not_used
_playground_transformers_internal_states/
logs/
